<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Demo of model working - about</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>}
<main>
    <div class="container mt-4">
        <h1 class="text-center text-primary">★ Привет всему Data Science сообществу! ★</h1>
        <section class="mt-2 pb-2">
            <div class="card mb-2">
                <div class="embed-responsive embed-responsive-16by9">
                    <img class="card-img-top embed-responsive-item"
                         src="https://pbs.twimg.com/media/Dz8Gf8qXgAMVmv3.jpg:small" alt=""/>
                </div>
                <div class="card-body">
                </div>
            </div>
        </section>
        <p class="text-center"><a href="/" class="btn btn-success m-2">Back to Demo form</a></p>
    </div>
</main>
<footer class="container my-2">
    &copy; Copyright 2020 by <a href="/about/">Malinkin Pavel</a>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>